<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ block "title" . }}{{ with .Title }}{{ . }} &middot; {{ end }}{{ .Site.Title }}{{ end }}</title>

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <meta property="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173624678-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-173624678-1');
  </script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Raleway&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Walter+Turncoat&display=swap" rel="stylesheet">
  {{ $sass := resources.Get "sass/main.scss" }}
  {{ $style := $sass | resources.ToCSS | resources.PostCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <div class="page-container">
    <nav class="nav">
      <a class="nav__title" href="{{ .Site.BaseURL }}">Stanford One for the World</a>

      <button class="nav__hamburger" id="nav__hamburger">☰</button>

      <ul class="nav__list nav__list--mobile-hidden">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li>
          <a href="#" class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        <ul class="sub-menu">
          {{ range .Children }}
          <li>
            <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        {{ else }}
        <li>
          <a href="{{ .URL }}" class="{{ if (eq .URL $currentPage.RelPermalink) }}active{{ end }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
        {{ end }}
        <li>
          <a href="{{ .Site.Data.links.instagram }}" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="{{ .Site.Data.links.newsletter }}" title="Subscribe to our newsletter"><i
              class="fas fa-envelope"></i></a>
        </li>
      </ul>
      <script>
        const list = document.getElementsByClassName("nav__list")[0];
        document.getElementById("nav__hamburger").addEventListener("click", () => {
          list.classList.toggle("nav__list--mobile-hidden");
        });
      </script>
    </nav>
    <main class="main-container">
      {{ block "main" . }}
      {{ end }}
    </main>
    <div class="footer-container">
      <footer class="footer">
        <div class="footer__social">
          <h2>Follow Us</h2>

          <p>
            <a href="{{ .Site.Data.links.instagram }}" title="Instagram"><i class="fab fa-instagram"></i></a>
          </p>
        </div>
        <div class="footer__newsletter">
          <h2>Subscribe to Our Newsletter <i class="fa fa-envelope"></i></h2>

          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form
              action="https://stanford.us17.list-manage.com/subscribe/post?u=d07e87e20cbfb1eb9ae96424b&amp;id=d4ecdda1ec"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                  required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_d07e87e20cbfb1eb9ae96424b_d4ecdda1ec" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                    class="button"></div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
        <div class="footer__copyright">
          &copy; 2020 Stanford One for the World &middot; <a href="https://github.com/stanford-1ftw/stanford-1ftw"
            aria-label="View source on GitHub"><i class="fab fa-github" aria-hidden="true"></a>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script>
    new ClipboardJS('.clip');
  </script>
  <script src="https://embed.small.chat/T016S7A9JS2G0195D7A1DZ.js" async></script>
</body>

</html>