.team-bubbles {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.team-bubbles__member {
  width: 256px;
  margin: 1em;

  a {
    color: inherit;
  }
}

.team-bubbles__image {
  border-radius: 50%;
  border: 3px solid $bg-dark-blue;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.clip {
  cursor: pointer;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}