@import "../colors";

// Remove default margins and padding
html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: $sans-serif;
  color: $fg-off-black;
  background: $fg-off-white;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
