@import "../colors";

// Remove default margins and padding
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  font-size: 14px;
  font-family: $sans-serif;
  color: $fg-off-black;
  background: $fg-off-white;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Base layout
// The following flex layout is designed to always keep the footer at the
// bottom of the page on short pages
.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .site-container {
    flex-grow: 1;
  }

  .footer {
    flex-shrink: 0;
  }
}

.site-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}