@import "../colors";

// A 80,000 Hours-style dropdown details bar.

.details-dropdown {
  padding: $space;
  border: 2px solid #ddd;
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
  margin: 1em 0;

  summary {
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    // Standards-compliant way to hide triangle
    list-style-type: none;
    // Chrome-specific way to hide triangle (2020-08-05)
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "Show";
      float: right;
      font-size: 0.75em;
      line-height: 1.5; // Hack to get it to vertically center
    }
  }
}