@import "../_colors";

.footer-container {
  background: $fg-off-black;
}

.footer {
  color: $fg-off-white;
  width: $site-width;
  max-width: 100%;
  padding: 2 * $space;
  margin: 0 auto;

  // Layout
  @media (min-width: $crunch-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .footer__social,
  .footer__newsletter {
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  // Shrink footer headings a bit
  h2 {
    font-size: 1.25em;
  }

  a {
    color: $fg-off-white;
  }
}
