@import "../_colors";

.footer {
  color: $fg-off-white;
  background: $fg-off-black;
  padding: 2 * $space calc(50% - 400px);

  // Layout
  display: grid;
  grid-template-columns: 50% 50%;

  .footer__social,
  .footer__newsletter {
    text-transform: uppercase;
  }

  // Shrink footer headings a bit
  h2 {
    font-size: 1.25em;
  }

  a {
    color: $fg-off-white;
  }
}
