.meter-section {
  h2 {
    text-align: center;
  }
}

.meter {
  background: white;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 2em;
  margin: 0 2em;

  .meter__bar {
    width: calc(24 / 150 * 100%);
    height: 2em;
    background: repeating-linear-gradient(
      45deg,
      darkred,
      darkred 10px,
      rgb(168, 0, 0) 10px,
      rgb(168, 0, 0) 20px
    );

    display: flex;
    align-items: center;

    .meter__text {
      margin-left: 1em;
      color: white;
      font-weight: bold;
    }
  }
}
