@import "../../colors";

.stats {
  text-align: center;
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 2 * $space;
  font-family: $sans-serif;
  font-size: 1.5em;
  margin: 2 * $space 0;
}

.stats > * {
  grid-row: 1;
  color: $fg-off-white;
  padding: 4 * $space;

  &:nth-child(1), &:nth-child(3) {
    background-color: $bg-dark-blue;
  }
  &:nth-child(2) {
    background-color: $bg-light-blue;
  }
}

.stats__big-no {
  font-size: 2em;
  font-weight: bold;
}
